<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
    <link rel="stylesheet" th:href="@{~/css/range.css}">
    <title>Epic Task</title>
</head>
<body>
    <h1>Epic Task</h1>

    <main class="container">
        <div class="card lg">
            <h2>Cadastrar Tarefa</h2>
            <form action="/task" method="POST" class="vertical-form" th:object="${task}">
                <input type="hidden" th:field="*{id}" id="id">
    
                <label for="title" class="hide">Título</label>
                <input 
                    type="text" 
                    th:field="*{title}"
                    id="title" 
                    placeholder="título" 
                    th:classappend="${#fields.hasErrors('title')}?invalid"
                >
                <span th:errors="*{title}"></span>
    
                <label for="description" class="hide">Descrição</label>
                <textarea 
                    th:field="*{description}" 
                    id="description" 
                    placeholder="descrição"
                    th:classappend="${#fields.hasErrors('description')}?invalid"
                ></textarea>
                <span th:errors="*{description}"></span>
    
                <label for="score" id="labelscore">Pontos</label>
                <input type="range" th:field="*{score}" id="score" min="1" max="100">
                <span th:errors="*{score}"></span>
    
                <div class="buttons">
                    <a href="/task" class="button cancel">cancelar</a>
                    <input type="submit" value="salvar" class="button">
                </div>
            </form>
        </div>
    </main>
</body>
<script th:src="@{~/js/script.js}"></script>
</html>